[database]
driver = "mysql"
host = "localhost"
port = 3306
schema = "db_schema"
username = "user"
password = "secret"
options[1002] = "SET NAMES 'UTF8'"

[general]
source.language = "de-DE"

[filter]
export.empty.name = "emptyValue"
export.duplicates.name = "duplicates"

; [filter-disabled]
export.regex.name = "regex"
export.regex.options.matches.nuff.table = "user"
export.regex.options.matches.nuff.field = "url"
export.regex.options.matches.nuff.regex = "#^/nuff(/){0,1}.*?$#"

export.regex.options.matches.narf.table = "session"
export.regex.options.matches.narf.field = "url"
export.regex.options.matches.narf.regex = "#^narf$#"

[export]
table_x.content = "id"
table_y.message = "id"
table_z.text = "id"

[export-disabled]
table_a.nuff = "id"
table_a.narf = "id"
table_c.text = "id"
table_f.description = "id"
